# Build
/bin/
/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Secrets & config locais
# appsettings.Development.json
appsettings.Local.json
*.secrets.json

# EF Core Migrations snapshot (se quiser evitar conflitos)
Migrations/*.csproj.EntityFrameworkCore.Snapshot.cs

# Logs
*.log

# SQLite (se usar localmente)
*.db
*.db-shm
*.db-wal

# NuGet
*.nupkg
*.snupkg
.nuget/

# OS junk
.DS_Store
Thumbs.db