<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Confirmação de Cadastro</title>
</head>
<body>
    <h1>Bem-vindo ao ProjetoDBZ!</h1>
    <p>Por favor, confirme seu endereço de e-mail clicando no link abaixo:</p>
    <p><a href="@Model.ConfirmationLink">Confirmar E-mail</a></p>
    <p>Se você não solicitou este cadastro, por favor ignore este e-mail.</p>
</body>
</html>
